*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}

:root{
    --color-primario: #1E1E1E;
    --color-secundario: #454545;
    --color-terciario: #e0ffff;
    --color-cuarto: #69b4ff;
    --color-quinto: #0085ff;
    --color-sexto: #006fff;
    --fuente-primaria: "Cabin", sans-serif;
    --fuente-secundaria: "Overpass", sans-serif;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
    color: var(--color-terciario);
}

header{
    display: flex;
    gap: 2.4rem;
    height: 4rem;
    /* border: solid red; */
    padding: 2rem;
}

.foto__perfil{
    
}

.titulo__app{
    font-family: var(--fuente-primaria);
    font-size: 3.2rem;
}

.titulo__datos{
    font-family: var(--fuente-secundaria);
    font-size: 2.4rem;
}

.contenido{
    padding: 6% 15%;
    display: flex;
    gap: 3.4rem;
    justify-content:center;
}

.encriptador{
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    font-family: var(--fuente-primaria);
    gap: 3.4rem;
}

.opciones__encriptador{
    display: flex;
    gap: 2.4rem;
}
.mensaje{
    border: solid red;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    font-family: var(--fuente-primaria);
    gap: 3.4rem;
    height: 94.4rem;
    width: 40rem;
    border-radius: 12px;
}

.boton__encriptar{
    background-color: var(--color-sexto);
    font-family: var(--fuente-secundaria);
    color: var(--color-terciario);
    padding: 2.4rem;
    font-size: 16px;
    border-radius: 12px;
    border: solid 2px var(--color-sexto);
}

.boton__descodificar{
    background-color: var(--color-primario);
    font-family: var(--fuente-secundaria);
    color: var(--color-terciario);
    padding: 2.4rem;
    font-size: 16px;
    border-radius: 12px;
    border: solid 2px var(--color-sexto);
}